<!-- BEGIN CORE JS FRAMEWORK--> 
<script src="<?=CDN?>plugins/jquery-1.8.3.min.js" type="text/javascript"></script> 
<script src="<?=CDN?>plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script> 
<script src="<?=CDN?>plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script> 
<script src="<?=CDN?>plugins/breakpoints.js" type="text/javascript"></script> 
<script src="<?=CDN?>plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script> 
<!-- END CORE JS FRAMEWORK --> 