  <div class="page-sidebar" id="main-menu"> 
    <ul>	
      <li class="start active "> <a href="<?=base_url('app/view')?>"> <i class="icon-custom-home"></i> <span class="title">Dashboard</span> <span class="selected"></span></a> </li>
	
    </ul>
	<div class="clearfix"></div>
    <!-- END SIDEBAR MENU --> 
  </div>
